<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }

        .w3-col {
            margin-top: 30px;
        }

        .w3-round {
            margin-top : 120px;
            height : 570px;
        }
    </style>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:3px;">
        <a href="/" class="w3-bar-item w3-button">이번 주, 뭐 먹지?</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/" class="w3-bar-item w3-button">Back to main</a>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">마라공방</h1><br>
            <h4>주소</h4>
            <p class="w3-text-grey">서울 마포구 양화로18길 12</p><br>

            <h4>추천 메뉴</h4>
            <p class="w3-text-grey">Self)골라골라 마라탕(소) 9.0</p><br>
            <p class="w3-text-grey">Self)골라골라 마라샹궈(소) 15.0</p><br>
            <p class="w3-text-grey">꿔바로우(소) 12.0</p><br>

            <h4>별점</h4>
            <p class="w3-text-grey">⭐⭐⭐⭐⭐</p><br>

            <h4>한줄평</h4>
            <p class="w3-text-grey">얼얼한 마라맛과 달달한 꿔바로우가 땡기는 날엔☺</p><br>
        </div>

        <div class="w3-col l6">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDAzMjZfMjQz/MDAxNTg1MTg5NDcyNDEz.prgFzFo3fKU9Z_C6_OjfjuT6fo9OO3I1OwMbuKBsRawg.ZnfwSJ5U1cRVHn363yq8Wr2J7Jm7TLaFx1kC3wEDah8g.JPEG.kimi_95/SE-a5ba94d6-3091-4794-b47a-24cb579a2797.jpg?type=w800" class="w3-round w3-image w3-opacity-min"
                 style="width:100%">
        </div>
    </div>

    <hr>
</body>
</html>
