<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }

        .w3-col {
            margin-top: 30px;
        }

        .w3-round {
            margin-top : 120px;
            height : 570px;
        }
    </style>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:3px;">
        <a href="/" class="w3-bar-item w3-button">이번 주, 뭐 먹지?</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/" class="w3-bar-item w3-button">Back to main</a>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">로쏘 1924 나폴리</h1><br>
            <h4>주소</h4>
            <p class="w3-text-grey">서울 마포구 홍익로 29 1층</p><br>

            <h4>추천 메뉴</h4>
            <p class="w3-text-grey">Don Gennaro 21.9</p><br>
            <p class="w3-text-grey">Bufala 13.5</p><br>
            <p class="w3-text-grey">Don Adolfo 15.5</p><br>

            <h4>별점</h4>
            <p class="w3-text-grey">⭐⭐⭐⭐</p><br>

            <h4>한줄평</h4>
            <p class="w3-text-grey">리얼 이탈리안 피자를 원한다면!</p><br>
        </div>

        <div class="w3-col l6">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MTZfMTUy/MDAxNjI5MDQwMDI2NzU3.sGwS2MsbNYYToo8Lk1J-f9Fsyr7pjN23xpIsRiXMivIg.pbSXBBMeE513nkUmh0AZ3012GZYLJ-MqB_80H7w-4DAg.JPEG.gina171/1629039860219.jpg?type=w800" class="w3-round w3-image w3-opacity-min" alt="Menu"
                 style="width:100%">
        </div>
    </div>

    <hr>
</body>
</html>
