<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }

        .w3-col {
            margin-top: 30px;
        }

        .w3-round {
            margin-top : 120px;
            height : 570px;
        }
    </style>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:3px;">
        <a href="/" class="w3-bar-item w3-button">이번 주, 뭐 먹지?</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/" class="w3-bar-item w3-button">Back to main</a>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">제스티살룬 연남</h1><br>
            <h4>주소</h4>
            <p class="w3-text-grey">서울 마포구 연희로 31 연남빌딩 지층</p><br>

            <h4>추천 메뉴</h4>
            <p class="w3-text-grey">Zesty Garlic Burger 10.3</p><br>
            <p class="w3-text-grey">Wasabi Shrimp Burger 11.3</p><br>
            <p class="w3-text-grey">Truffle Shrimp Burger 12.8</p><br>

            <h4>별점</h4>
            <p class="w3-text-grey">⭐⭐⭐⭐⭐</p><br>

            <h4>한줄평</h4>
            <p class="w3-text-grey">칼로리도 2배 맛도 2배🍔</p><br>
        </div>

        <div class="w3-col l6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnnRPIbZdgX9bkmztnRCkWjMPBF2S6ti7f6A&usqp=CAU" class="w3-round w3-image w3-opacity-min" alt="Menu"
                 style="width:100%">
        </div>
    </div>

    <hr>
</body>
</html>
