<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }

        .w3-col {
            margin-top: 30px;
        }

        .w3-round {
            margin-top : 120px;
            height : 570px;
        }
    </style>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:3px;">
        <a href="/" class="w3-bar-item w3-button">이번 주, 뭐 먹지?</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/" class="w3-bar-item w3-button">Back to main</a>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">카멜로 연남</h1><br>
            <h4>주소</h4>
            <p class="w3-text-grey">서울 마포구 연희로1길 57 1.5층</p><br>

            <h4>추천 메뉴</h4>
            <p class="w3-text-grey">바질 새우 알리오올리오 16.0</p><br>
            <p class="w3-text-grey">통삼겹 로제 리조또 16.0</p><br>
            <p class="w3-text-grey">청양새우 크림 파스타 16.0</p><br>

            <h4>별점</h4>
            <p class="w3-text-grey">⭐⭐⭐⭐⭐</p><br>

            <h4>한줄평</h4>
            <p class="w3-text-grey">고급스러운 분위기와 맛😍</p><br>
        </div>

        <div class="w3-col l6">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTA0MDRfMTY2/MDAxNjE3NDY1NDU2NTg4.hCWD6f7I7p4RKn1N6V-8g39p2M2SpWPNBo2V17vstIIg.ayE_Giwylj6gs_Ixem_JzepYB9ydmwO1tIGzlihKLBMg.JPEG.wldbs925/IMG_1911.jpg?type=w800" class="w3-round w3-image w3-opacity-min"
                 style="width:100%">
        </div>
    </div>

    <hr>
</body>
</html>
